.jumbotron {
	background-position: center;
	background-image: url('travel.jpg');
	background-size: auto 50%;
	text-shadow: white 0.3em 0.3em 0.3em;
	background-size: cover;
}

#row2 {
	height:700px;
}

#map {
        height: 555px;
      }

#weather {
	max-height: 550px;
    color: royalblue;
    float: right;
}

.text-center {
	color: white;
}

* {box-sizing:border-box}

h2 {
	text-align: center;
}

label {
	display: block;
	width: 100%;
}
