.jumbotron {
	background-position: center;
	background-image: url('travel.jpg');
	background-size: auto 50%;
	text-shadow: white 0.3em 0.3em 0.3em;
	background-size: cover;
}

.text-center {
	color: white;
}